In [2]:
import numpy as np
import pandas as pd
df = pd.DataFrame({ 'Values':[3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150]})

In [3]:
df

    Values
0        3
1        5
2        7
3        2
4        8
5       10
6       11
7       65
8       72
9       81
10      99
11     100
12     150

In [4]:
df['Rolling'] = df.rolling(window=3, min_periods=2).mean().round(decimals=2)

print("\t" + str(df))

	    Values  Rolling
0        3      NaN
1        5     4.00
2        7     5.00
3        2     4.67
4        8     5.67
5       10     6.67
6       11     9.67
7       65    28.67
8       72    49.33
9       81    72.67
10      99    84.00
11     100    93.33
12     150   116.33